$DarkCyan: rgba(14, 135, 132, 1); // #0E8784
$LightCyan: rgba(102, 210, 207, 1);

$DarkBlue: rgba(44, 52, 62, 1); // #2C343E

$DarkGreyBlue: rgba(51, 61, 75, 1); // #333D4B

$PaleOrange: rgba(253, 214, 186, 1); // #FDD6BA

$LightCream: rgba(254, 252, 247, 1); // #FEFCF7
$DarkCream: rgba(244, 241, 235, 1); // #F4F1EB

$Grey: rgba(131, 136, 143, 1); // #83888F
$LightGrey: rgba(226, 222, 219, 1); // #E2DEDB

$LightCreamTransparent: rgba(254, 252, 247, 0.1);

$accordion-icon-width: 2.25rem;
